* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fontfamily: "inter", "inter Fallback";
    --primary-color: #089c6b;
    --text-color: #F3F4F6;
    --accent-color: #3B82F6;
    --dark-color: #111827;
    --light-color: #F9FAFB;
    --darkopacity-color: #2f3a5144;
}

header {

    position: fixed;
    width: full;
    padding-top: 2px;
    /* paddin-left: 2px; */
    z-index: 50;
    margin-inline: auto;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(20px);
    font-family: var(--fontfamily);
}

.head-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    gap: 1em;
}

.head2 {

    display: flex;
    margin-left: 75px;

}

.logo {
    width: 100px;
}

.Head_CTA {
    display: flex;
    inline-size: flex;
    height: fit-content;
    justify-content: center;
    justify-items: center;
    gap: 1em;
    white-space: nowrap;
    margin-right: 85px;

}

.btn1 {
    padding: 7px 11px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    cursor: pointer;
    backdrop-filter: blur(60px);
}

.btn2 {
    padding: 7px 11px;

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    font-size: 15px;
    /* font-weight: bold; */
    cursor: pointer;
    cursor: pointer;

    backdrop-filter: blur(60px);
}


.bg-img1 {

    background-image: url('Images/bg-light.svg');
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;

}

.options {
    width: auto;
    gap: 18px;
    display: flex;
    align-self: left;
    margin-inline-start: 120px;
}

.option:hover {

    background-color: rgba(153, 153, 153, 0.466);
    border-radius: 10px;
}

.option {
    padding: 5px 5px;
    color: rgb(245, 245, 245);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

/* Scrolled header styles */
.header.scrolled {
    
    backdrop-filter: blur(20px);
}

.header.scrolled .option {
    color: rgb(0, 0, 0);
}

.header.scrolled .btn1 {
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}
.header.scrolled .btn2 {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.logo {
    transition: opacity 0.3s ease;
}

.logo-dark {
    display: none;
    width: 100px;
    transition: opacity 0.3s ease;
}

.header.scrolled .logo {
    display: none;
}

.header.scrolled .logo-dark {
    display: block;
}

.sec1 {
    isolation: isolate;
    position: relative;
    top: -6rem;
    height: 1200px;

}

.aa {
    top: 200px;
    height: 30px;
    width: 390px;
    display: flex;
    padding: 5px;
    margin-left: 424px;
    color: black;
    text-decoration: none;
    position: relative;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0.205);
    /* backdrop-filter: blur(10px); */
    border-radius: 50px;
    font-family: "inter", "inter Fallback";
    font-size: 14px;
    align-items: center;
}

.aa-1 {
    background-color: var(--primary-color);
    padding: 1px 5px;
    border-radius: 20px;
    color: whitesmoke;
}

.aa-2 {
    color: var(--text-color);
}

.aa3 {
    color: var(--text-color);
    font-weight: bold;
}

.maintxt {
    position: relative;
    top: 240px;
    justify-items: center;
    /* align-items: center; */
    /* align-self: center; */
    text-align: center;
    font-family: var(--fontfamily);
    color: var(--text-color);
}

.text1 {
    font-size: 50px;
    font-weight: 450;
    line-height: 1.2;
}

.text2 {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 450;
    line-height: 1.5;
}

.mail {
    display: flex;
    height: 39px;

    width: 320px;
    margin-top: 30px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.406);
    border: rgba(245, 245, 245, 0.491) 1px solid;
    border-radius: 30px;

}

.iptext {
    padding: 1px;
    margin-left: 10px;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--text-color);
}

.mail-cta {

    margin-left: 55px;
    padding: 1px 10px;
    background-color: var(--text-color);
    color: var(--dark-color);
    border: none;
    border-radius: 30px;
    font-size: 13px;
    font-weight: bold;
}

.sec2 {
    display: flex;
    position: relative;
    padding: 72px 32px 144px 32px;
    justify-content: center;
}

.h2 {
    margin-top: 250px;
    position: relative;
    padding: 100px;

}

/* .img2{
   border-radius: 10px;
    position: relative;
    height: 600px;
    width: 1000px;
      z-index:7;
    border: red solid 1px;
 
} */
.img3 {
    position: relative;
    border-radius: 10px;
}

.a1 {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 2;
    row-gap: 7;
    column-gap: 2; */
    display: grid;
    /* switch to grid layout */
    grid-template-columns: repeat(4, 1fr);
    /* 4 equal columns */
    grid-template-rows: repeat(2, auto);
    /* 2 rows */
    row-gap: 1.75rem;
    column-gap: 0.5rem;
    /* 28px vertical gap */
    max-width: 64rem;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: 64px;
    width: 250px;

}

.xlogo {
    color: var(--dark-color);
    display: fill;
    background-size: small;
    width: auto;
    height: min-content;
    padding: 10px;

}

.img4 {
    width: auto;
    height: 30px;
}

.sec3 {
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 144px;
}

.textcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 48px 32px;
}

.textcard h2 {

    font-style: bold;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
}

.card1 {
    width: 100%;
    display: flex;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
}

.cardleft {
    width: 500px;
    height: 500px;
    border: var(--darkopacity-color) 1px solid;
    border-radius: 30px;
    padding: 1.5rem;


}

.cardleft h4 {
    line-height: 3;
    font-style: bold;
    font-size: 25px;
    font-weight: 500;
}

.cardright {
    width: 500px;
    height: 500px;
    border: var(--darkopacity-color) 1px solid;
    border-radius: 30px;
    padding: 1.5rem;


}

.cardright h4 {
    line-height: 3;
    font-style: bold;
    font-size: 22px;
    font-weight: 500;
}

.text4 {
    color: var(--primary-color);
    font-size: small;
}

.text7 {
    color: var(--primary-color);
    font-size: small;
}

.leftimg {
    width: auto;
    height: 250px;
    margin-top: 40px;
    margin-left: 50px;
}

.rightimg {
    width: auto;
    height: 250px;
    margin-top: 40px;
}

.card2 {
    width: 1050px;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    border: var(--darkopacity-color) 1px solid;
    border-radius: 30px;
    padding: 1.5rem;
    text-align: center;
}

.card2img {
    position: relative;
    width: 1000px;
    height: fit-content;
    margin-top: 40px;
}

.card2 h4 {
    line-height: 3;
    font-style: bold;
    font-size: 25px;
    font-weight: 500;
}

.text10 {
    color: var(--primary-color);
    font-size: small;
}

.sec4 {
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 144px;
    background-color: rgba(169, 169, 169, 0.098);
}

.card3 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 1.5rem;
    padding: 48px 2px;
}

.secondcard {
    width: 1050px;
}

.text13 {
    line-height: 3.4;
    color: var(--primary-color);
    font-size: small;
}

.card4leftlogo {
    color: var(--primary-color);
    font-size: xx-large;
}

.card4rightlogo {
    color: var(--primary-color);
    font-size: xx-large;
}

.card3 h4 {

    font-style: bold;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.0;
}

.text16 {
    line-height: 4;
}

.card3btn {
    margin-left: 190px;
    font-size: 18px;
    background-color: var(--dark-color);
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
}

.card4 {
    width: 100%;
    display: flex;
    gap: 1.9rem;
    justify-content: space-between;
}

.card4 h4 {
    line-height: 3;
    font-style: bold;
    font-size: 20px;
    font-weight: 600;

}

.text18 {
    line-height: 1.5;
}

.card5 {
    height: 500px;
    width: 1000px;
    display: flex;
    background-image: url("Images/anthropic.svg");
    background-size: cover;
    border-radius: 20px;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 1.5rem;
    padding: 48px 2px;
    margin-top: 5%;
    margin-left: 45px;
    color: var(--text-color);


}

.card5content {
    display: flex;
    height: auto;
    flex-direction: column;
    position: relative;
    padding: 1.5rem;

}

.card5top {
    display: flex;
    height: auto;
    flex-direction: column;
    position: relative;
    margin-top: -20px;
    margin-left: 40px;
}

.bottom {
    display: flex;
    gap: 1.5rem;
    margin-left: 40px;
    margin-top: 150px;

}

.text22 {
    font-size: 40px;
}

.text19 {
    line-height: 3;
    font-style: bold;
    font-size: 15px;
    font-weight: 600;
}

.text20 {

    font-style: bold;
    font-size: 20px;
    font-weight: 600;
}

.text21 {

    line-height: 4;
}

.card6 {
    display: flex;

    justify-content: left;
    align-items: left;
    gap: 1.5rem;
    padding: 40px 2px;
}

.sec5 {
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    margin-right: auto;
    margin-left: auto;
}
.card7{
    display: flex;
    justify-content: center;
    align-items: center;
flex-direction: column;
    padding: 48px 32px;
    gap: 3rem;
}
.card7top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.card7 h4{
    line-height: 1;
    font-style: bold;
    font-size: 40px;
    font-weight: 500;
}
.card7bottom{
    display:flex;
}
.text24{
    font-size: 11px;
    color: var(--primary-color);
    font-weight: 500;
}

.card7bottom{
    width: 1000px;
    display: flex;
    gap: 1.5rem;
    justify-content: space-around;
    align-items: center;
}
.card7img img {
    width: auto;
    height: 300px;
    border-radius: 20px;
}
.text26{
    text-align: center  ;
}
.card8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}
.card8 h4{
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
}
.card8btn{
    display: flex;
    gap: 1.2rem;
    margin-top:30px;
}
.card8btn1{
    padding: 10px 20px;
    background-color: var(--dark-color);
    color: var(--text-color);
    border: none;
    border-radius: 50px;
    font-size: 15px;
    font-weight:600;
    cursor: pointer;
}
.card8btn2{
    padding: 10px 20px;
    background-color: transparent;
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
    border-radius: 50px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.card8bottom{
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin-top: 100px;
    padding: 50px;
}
.card8left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* line-height: 2; */
}
.text30{
    padding:10px;
    display: flex;
    width: 70px;
    /* height: 50px; */
    text-align: center;
    justify-content: center;
    border: var(--darkopacity-color) 1px solid ;
    border-radius: 20px;
    color:var(--primary-color);
    font-size: xx-large;
}
.card8left h5{
    font-size: large;
    font-weight: 500;
    line-height: 2;
    margin-top:30px;
}
.text32{
    margin-bottom:30px;
}
body {
    font-family: var(--fontfamily);
}