* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fontfamily: "inter", "inter Fallback";
    --primary-color: #089c6b;
    --text-color: #F3F4F6;
    --accent-color: #3B82F6;
    --dark-color: #111827;
    --light-color: #F9FAFB;
}

header {

    position: fixed;
    width: full;
    padding-top: 2px;
    /* paddin-left: 2px; */
    z-index: 50;
    margin-inline: auto;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(20px);
    font-family: var(--fontfamily);
}

.head-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    gap: 1em;
}

.head2 {

    display: flex;
    margin-left: 75px;

}

.logo {
    width: 100px;
}

.Head_CTA {
    display: flex;
    inline-size: flex;
    height: fit-content;
    justify-content: center;
    justify-items: center;
    gap: 1em;
    white-space: nowrap;
    margin-right: 85px;

}

.btn1 {
    padding: 7px 11px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    cursor: pointer;
    backdrop-filter: blur(60px);
}

.btn2 {
    padding: 7px 11px;

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    font-size: 15px;
    /* font-weight: bold; */
    cursor: pointer;
    cursor: pointer;

    backdrop-filter: blur(60px);
}


.bg-img1 {

    background-image: url('Images/bg-light.svg');
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;

}

.options {
    width: auto;
    gap: 18px;
    display: flex;
    align-self: left;
    margin-inline-start: 120px;
}

.option:hover {

    background-color: rgba(153, 153, 153, 0.466);
    border-radius: 10px;
}

.option {
    padding: 5px 5px;
    color: rgb(245, 245, 245);
    text-decoration: none;
    font-weight: 500;

}

.sec1 {
    isolation: isolate;
    position: relative;
    top: -6rem;
    height: 1200px;

}

.aa {
    top: 200px;
    height: 30px;
    width: 390px;
    display: flex;
    padding: 5px;
    margin-left: 424px;
    color: black;
    text-decoration: none;
    position: relative;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0.205);
    /* backdrop-filter: blur(10px); */
    border-radius: 50px;
    font-family: "inter", "inter Fallback";
    font-size: 14px;
    align-items: center;
}

.aa-1 {
    background-color: var(--primary-color);
    padding: 1px 5px;
    border-radius: 20px;
    color: whitesmoke;
}

.aa-2 {
    color: var(--text-color);
}

.aa3 {
    color: var(--text-color);
    font-weight: bold;
}

.maintxt {
    position: relative;
    top: 240px;
    justify-items: center;
    /* align-items: center; */
    /* align-self: center; */
    text-align: center;
    font-family: var(--fontfamily);
    color: var(--text-color);
}

.text1 {
    font-size: 50px;
    font-weight: 450;
    line-height: 1.2;
}

.text2 {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 450;
    line-height: 1.5;
}
.mail{
    display: flex;
    height: 39px; 

    width:320px;
    margin-top: 30px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.406);
    border: rgba(245, 245, 245, 0.491) 1px solid;
    border-radius: 30px;
   
}

.iptext{
    padding: 1px;
    margin-left: 10px;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--text-color);
}
.mail-cta{
   
    margin-left: 55px;
    padding: 1px 10px;
    background-color: var(--text-color);
    color: var(--dark-color);
    border: none;
    border-radius: 30px;
    font-size: 13px;
    font-weight: bold;
}

.sec2 {
    display: flex;
    position: relative;
    padding: 72px 32px 144px 32px;
    justify-content: center;
}
.h2{
    margin-top: 250px;
    position: relative;
    padding: 100px; 
 
}
/* .img2{
   border-radius: 10px;
    position: relative;
    height: 600px;
    width: 1000px;
      z-index:7;
    border: red solid 1px;
 
} */
.img3{
    position: relative;
    border-radius: 10px;
}
.a1{
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 2;
    row-gap: 7;
    column-gap: 2; */
  display: grid;            /* switch to grid layout */
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    grid-template-rows: repeat(2, auto);   /* 2 rows */
    row-gap: 1.75rem;
    column-gap: 0.5rem;         /* 28px vertical gap */
    max-width: 64rem; 
}
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: 64px;
    width: 250px;
   
}
.xlogo{
    color: var(--dark-color);
    display: fill;
    background-size: small;
    width: auto;
    height: min-content;
    padding: 10px ;

}

.img4{
    width: auto;
    height: 30px;
}

body {}